@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Josefin+Slab&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  @apply font-sans;
}

a {
  @apply text-custom-darkblue;
}

a:hover {
  @apply text-custom-red;
}

a.no-default-style {
  @apply text-current;
}

.link-active {
  @apply text-custom-red underline !important;
}

.tag {
  @apply bg-gray-100 border-r px-3 mb-2 rounded mr-2;
}

.menu-link {
  @apply text-custom-darkblue;
}

.menu-link:hover {
  @apply underline !important;
}

.absolute-important {
  @apply absolute !important;
}

.paragraphs p {
  @apply py-3;
}

.nav-li {
  @apply my-3 !important;
}
.nav-link {
  @apply whitespace-nowrap text-custom-darkblue !important;
}

.filter-active {
  @apply text-custom-red underline;
}

button:focus {
  @apply outline-none;
}

.twitter-iframe > div {
  @apply h-full;
}

.sidebar-link {
  @apply pr-5 text-lg whitespace-nowrap;
}

@screen lg {
  .sidebar-link {
    @apply px-0 py-3 text-3xl;
  }
}
